$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "font-awesome/scss/font-awesome";

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.center {
    text-align: center;
}


.theme-videos {
	h3 {
	  	text-align: center;
	}
}

.modal {
  display: block;
}

.modal-body:before,
  .modal-body:after {
    display: table;
    content: " ";
}

.modal-header:before,
.modal-header:after {
  display: table;
  content: " ";
}

@media (min-width: 1200px) {
	.jumbotron {
	  position: fixed;
	  width: 360px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.jumbotron {
	  position: fixed;
	  width: 293px;
	}
}

@keyframes fadeIn
{
    from {opacity: 0;}
    to {opacity: 1;}
}

.fadeIn {
    animation: fadeIn 5s;
}