<!-- Main jumbotron for a primary marketing message or call to action -->
<article class="jumbotron">
  <h2><i class="fa fa-thumbs-o-up"></i> Votre avis nous interesse</h2>
  <h1>Aimez-vous notre stand ?</h1>
</article>

<article class="row">
  <div class="col-md-4">
    <a href="javascript:" class="thumbnail" data-ng-click="vote(1)">
      <img src="images/good.png" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="javascript:" class="thumbnail" data-ng-click="vote(2)">
      <img src="images/middle.png" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="javascript:" class="thumbnail" data-ng-click="vote(3)">
      <img src=images/bad.png />
    </a>
  </div>
</article>
