
<div class="row">
    <div class="col-md-4">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <section class="center">
              <img alt="Marc Buils Consultant - Bureau d'étude RIA" class="img-rounded" src="images/logo_marcbuils.png">
              <span><b> - Bureau d'étude RIA</b></span>
          </section>
          <h2><i class="fa fa-film"></i> Lecteur Vidéo</h2>
          <p>Sélectionnez la vidéo à lire puis sélectionnez au choix le support tablette ou écran.</p>
          
          <section class="center">
          	<a href="#" class="btn btn-primary btn-lg" role="button" ng-click="showVideoInformation(videos[0])">Démonstration</a></p>
          </section>
        </div>
    </div>
    
    
    <div class="col-md-8">
        <div class="row theme-videos">
          <div class="col-sm-6 col-md-3" ng-repeat="video in videos">
            <a href="#" class="thumbnail" ng-click="showVideoInformation(video)">
              <img ng-src="{{ video.image }}" alt="{{ video.name }}">
              <div class="caption">
                <h4>{{video.name}}</h4>
              </div>
            </a>
          </div>
        </div>
    </div>
</div>