<!-- Main jumbotron for a primary marketing message or call to action -->
<article class="jumbotron">
  <h2><i class="fa fa-share"></i> Partagez cette application</h2>
  <p>Vous pensez que cette application peut interesser une connaissance ?<br />
  Ou vous souhaitez faire des tests à distance ?</p>
  <p>Partagez la en selectionnant ou scannant un des liens suivant !</p>
</article>

<article class="row center share">
  <div class="col-md-2">
    <a href="mailto:?subject=Une%20application%20RIA%20originale&body=Je%20pense%20que%20ce%20lien%20peut%20t'intéresser:%20http://vlc.marcbuils.fr" class="thumbnail">
      <img src="images/qr-mail.png" />
    </a>
  </div>
  <div class="col-md-2">
    <a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fvlc.marcbuils.fr&title=Une%20application%20RIA%20originale%20à%20essayer%20avant%20qu'il%20ne%20soit%20trop%20tard&summary=&source=in1.com" class="thumbnail">
      <img src="images/qr-linkedin.png" />
    </a>
  </div>
  <div class="col-md-2">
    <a href="http://www.facebook.com/share.php?u=http%3A%2F%2Fvlc.marcbuils.fr" class="thumbnail">
      <img src="images/qr-facebook.png" />
    </a>
  </div>
  <div class="col-md-2">
    <a href="https://twitter.com/share?url=http%3A%2F%2Fvlc.marcbuils.fr&text=Une%20application%20RIA%20originale%20à%20essayer%20avant%20qu'il%20ne%20soit%20trop%20tard" class="thumbnail">
      <img src="images/qr-twitter.png" />
    </a>
  </div>
  <div class="col-md-2">
    <a href="https://plusone.google.com/_/+1/confirm?hl=fr&url=http%3A%2F%2Fvlc.marcbuils.fr" class="thumbnail">
      <img src="images/qr-googleplus.png" />
    </a>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <img alt="QRCode pour accéder au site http://vlc.marcbuils.fr" src="images/qr-vlc.png"></img>
    </div>
  </div>
</article>

<script>
	window._gaq.push(['_trackEvent', 'share.html', 'show']);
</script>
