<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
		    <h3>{{ video.name }}</h3>
		</div>
		<div class="modal-body">
			<alert class="animated flip" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
			<div class="row">
			    <div class="col-md-4">
					<h4>Description</h4>
					{{ video.description }}
				</div>
			    <div class="col-md-8">
			    	<section class="center">
			    		<iframe src="{{video.url}}" width="300" height="168" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			    	</section>
			    	<button type="button" class="btn btn-primary btn-block" ng-click="playOnTV()">Envoyer sur l'écran</button>
				</div>
			</div>
		</div>
		<div class="modal-footer">
		    <button class="btn btn-warning" ng-click="close()">Fermer</button>
		</div>
	</div>
</div>